# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
*.log
*.tmp

# Archive
serendip-presentation.zip

# Subdirectory with its own git repo
preventivo-digitale/
